{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur ma première apllication avec Symfony</h1>

<p>Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles>
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles Soyez calme les amis tout va bien se passer et vous verrez la suis dans les prochains articles
</p>
{% endblock %}