{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Le titre de mon article</h2>
        <div class="metadata">Cet article est ecrit depuis 01/01/2020 dans religieuse</div>
        <div class="content">
        <img scr="http://placehold.it/350*150" alt="" />
        <p> contenu de mon article contenu de mon article contenu de mon article contenu de mon article </p>
        <a class="btn btn-primary">Lire la suite</a>
        </div>

    </article>

    <article>
        <h2>Le titre de mon article</h2>
        <div class="metadata">Cet article est ecrit depuis 01/01/2020 dans religieuse</div>
        <div class="content">
        <img scr="http://placehold.it/350*150" alt="" />
        <p> contenu de mon article contenu de mon article contenu de mon article contenu de mon article </p>
        <a class="btn btn-primary">Lire la suite</a>
        </div>

    </article>

    <article>
        <h2>Le titre de mon article</h2>
        <div class="metadata">Cet article est ecrit depuis 01/01/2020 dans religieuse</div>
        <div class="content">
        <img scr="http://placehold.it/350*150" alt="" />
        <p> contenu de mon article contenu de mon article contenu de mon article contenu de mon article </p>
        <a class="btn btn-primary">Lire la suite</a>
        </div>

    </article>

    <article>
        <h2>Le titre de mon article</h2>
        <div class="metadata">Cet article est ecrit depuis 01/01/2020 dans religieuse</div>
        <div class="content">
        <img scr="http://placehold.it/350*150" alt="" />
        <p> contenu de mon article contenu de mon article contenu de mon article contenu de mon article </p>
        <a class="btn btn-primary">Lire la suite</a>
        </div>

    </article>
</section>
{% endblock %}
